Language:               Cpp
Standard:               c++17
BasedOnStyle:           Google
ColumnLimit:            120
UseTab:          Never
AlignAfterOpenBracket: Align
BinPackParameters: false
AlignEscapedNewlines: Left
AlwaysBreakTemplateDeclarations: Yes
PackConstructorInitializers: Never
BreakConstructorInitializersBeforeComma: false
IndentPPDirectives: BeforeHash
SortIncludes: CaseInsensitive