t.*
example*
*TAGS
GRTAGS
GPATH
.RData
.Rhistory
*.o
*.d
*.makefile
external/*/*.a
*.dylib
/external/zstd/lib/*.a
/external/zstd/lib/*.so*
/external/zstd/lib/obj/
compile_commands.json
.ccls-cache
.cache
log
*tmp
.DS_Store
lib*.a
out.*
tests/*
run.sh
tutorial
.ccls
plink*
pcaone.*
releases
*.bin
PCAone
adj*
Rplots.pdf
/tutorial
/scripts
!/scripts/
/scripts/*
!/scripts/Makefile
!/scripts/MergePlink.cpp
!/scripts/MergePgen.cpp
!/scripts/plot-loadings.R
!/scripts/plot-ld-decay.R
!/scripts/summarise_ld_r2bin.cpp
!/scripts/benchmark/
!/scripts/benchmark/*
/dataset
/results
/inbreeding
/*.png

!tests/test_bed_shuffle.cpp
!tests/test_bed_permutation.py
!tests/test_evaladmix.py
