t.*
example*
*TAGS
GRTAGS
GPATH
.RData
.Rhistory
*.o
*.makefile
external/*/*.a
*.dylib
/external/zstd/lib/*.a
/external/zstd/lib/*.so*
/external/zstd/lib/obj/
compile_commands.json
.ccls-cache
.cache
log
*tmp
.DS_Store
lib*.a
out.*
test*
run.sh
tutorial
.ccls
plink*
pcaone.*
releases
*.bin
PCAone
adj*
Rplots.pdf
