t.*
example*
*TAGS
GRTAGS
GPATH
.RData
.Rhistory
*.o
*.d
*.makefile
external/*/*.a
*.dylib
/external/zstd/lib/*.a
/external/zstd/lib/*.so*
/external/zstd/lib/obj/
compile_commands.json
.ccls-cache
.cache
log
*tmp
.DS_Store
lib*.a
out.*
tests/*
run.sh
tutorial
.ccls
plink*
pcaone.*
releases
*.bin
PCAone
adj*
Rplots.pdf
/tutorial
/scripts
!/scripts/
/scripts/*
!/scripts/Makefile
!/scripts/MergePlink.cpp
!/scripts/MergePgen.cpp
!/scripts/benchmark/
!/scripts/benchmark/*
/dataset
/results
/inbreeding
/*.png
