name: MacOS

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v3

    - name: install dependency
      run: brew install libomp wget

    - name: make
      run: |
        export LDFLAGS="-L"$(brew --prefix libomp)/lib
        export CPPFLAGS="-I"$(brew --prefix libomp)/include
        make -j4 

    - name: test
      run: |
        make data
        make example_tests
